NET "e" LOC = "AC9" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "rs" LOC = "J17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "rw" LOC = "AC10" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
# The LCD four-bit data interface is shared with the StrataFlash.
NET "nibble<3>" LOC = "T11" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ; //msb of nibble
NET "nibble<2>" LOC = "G6" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "nibble<1>" LOC = "G7" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "nibble<0>" LOC = "T9" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;